/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

input[type="file"] {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1.88;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Grid styles */
.container {
  max-width: 1310px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.clip-path {
  overflow: hidden;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
          clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.bold {
  color: #52BEDC;
  font-weight: 700;
}

.none {
  display: none !important;
}

.icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}
.icon-row img {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.icon-row img:hover {
  opacity: 0.6;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 1000px;
  z-index: 0;
}
.slider img {
  height: 100%;
  width: 100%;
}

.h2 {
  font-family: Archangelsk;
  font-size: 62px;
  line-height: 1.01;
  font-weight: 400;
  color: #000;
}

.banner .h2 {
  margin-bottom: 25px;
}

.promo .h2 {
  color: #fff;
}

.ofer .h2 {
  color: #fff;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  color: #52BEDC;
}

.button {
  display: inline-block;
  padding: 15px 50px;
  position: relative;
  background-color: #000;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 700;
  color: #F8F200;
  -webkit-transition: -webkit-transform 0.2s ease-in,  -webkit-box-shadow 0.3s ease-in;
  transition: -webkit-transform 0.2s ease-in,  -webkit-box-shadow 0.3s ease-in;
  transition: transform 0.2s ease-in,  box-shadow 0.3s ease-in;
  transition: transform 0.2s ease-in,  box-shadow 0.3s ease-in,  -webkit-transform 0.2s ease-in,  -webkit-box-shadow 0.3s ease-in;
}
.button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 5px #52BEDC;
          box-shadow: 0px 0px 10px 5px #52BEDC;
}

.button--big {
  padding: 19px 50px;
  font-size: 24px;
  line-height: 1.66;
  overflow: hidden;
}
.button--big:hover::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 150px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(82, 190, 220, 0.4)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(82, 190, 220, 0.4) 20%, rgba(255, 255, 255, 0.1) 100%);
  left: -20%;
  top: -40px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-name: runShadow;
          animation-name: runShadow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes runShadow {
  from {
    left: 0;
  }
  to {
    left: 105%;
  }
}

@keyframes runShadow {
  from {
    left: 0;
  }
  to {
    left: 105%;
  }
}
.button--accent-color {
  background-color: #F8F200;
  color: #000;
}

.contact-form {
  width: 460px;
  color: #fff;
}

.form-item {
  position: relative;
  margin-bottom: 20px;
}

.form-input {
  display: block;
  padding-top: 18px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 10px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #777777;
  color: #fff;
}
.form-input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.form-input:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.form-input::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.form-input::placeholder {
  color: #fff;
  font-weight: 300;
}
.form-input:focus {
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #52BEDC;
          box-shadow: 0 0 10px #52BEDC;
}

.form-file {
  margin-top: 20px;
  margin-bottom: 35px;
  padding-top: 38px;
  padding-bottom: 38px;
  display: block;
  width: 100%;
  border: 1px dashed #777777;
  text-align: center;
  line-height: 1.16;
  -webkit-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
}
.form-file span {
  color: #777777;
  text-decoration: underline;
}
.form-file span:last-child {
  text-decoration: none;
  font-size: 12px;
}
.form-file:focus, .form-file:active, .form-file:hover {
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #52BEDC;
          box-shadow: 0 0 10px #52BEDC;
}

.form-button {
  margin-bottom: 15px;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
.checkbox-wrapper span {
  padding-top: 4px;
  vertical-align: bottom;
}
.checkbox-wrapper .real-checkbox {
  width: 0;
  padding: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox-wrapper .custom-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #777777;
}
.checkbox-wrapper .custom-checkbox::before {
  content: '';
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-image: url(.././img/icon/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.checkbox-wrapper .real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  position: relative;
  z-index: 4;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.banner {
  padding: 70px;
  width: 624px;
  background-color: #F8F200;
}

.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about__title {
  margin-bottom: 25px;
}

.about__desc {
  margin-bottom: 70px;
  max-width: 952px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.88;
  color: #777777;
}
.about__desc p + p {
  margin-top: 15px;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}

.promo {
  padding-bottom: 70px;
  position: relative;
  background-color: #000;
}

.promo__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 25px;
}
.promo__top .promo__icon {
  padding-top: 15px;
}
.promo__top .promo__title {
  padding-top: 70px;
}

.promo__desc {
  margin-bottom: 102px;
  max-width: 963px;
  line-height: 1.88;
  color: #fff;
}
.promo__desc p + p {
  margin-top: 10px;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 196px;
          column-gap: 196px;
  padding-bottom: 70px;
}

.promo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}
.promo__img .img-xbox {
  position: relative;
  height: 100%;
}
.promo__img .img-xbox img {
  position: relative;
  z-index: 4;
}
.promo__img .img-xbox::before {
  content: '';
  position: absolute;
  bottom: -25px;
  right: 0;
  z-index: 0;
  background-image: url(.././img/section-promo/bg-xbox.svg);
  width: 460px;
  height: 456px;
}
.promo__img .img-sony {
  position: relative;
  height: 100%;
}
.promo__img .img-sony img {
  position: relative;
  z-index: 4;
}
.promo__img .img-sony::before {
  content: '';
  position: absolute;
  top: -15px;
  right: 5px;
  z-index: 0;
  background-image: url(.././img/section-promo/bg-sony.svg);
  width: 460px;
  height: 456px;
}

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.partner {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F8F200;
}

.partner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.partner__img .partner__img-wrapper {
  width: 624px;
  height: 430px;
  margin-bottom: 26px;
}
.partner__img .partner__img-icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__title {
  margin-bottom: 25px;
}

.partner__text {
  max-width: 624px;
  margin-bottom: 31px;
}
.partner__text p + p {
  margin-top: 15px;
}

.partner__list {
  line-height: 1.16;
  margin-bottom: 45px;
}
.partner__list .partner__item + .partner__item {
  margin-top: 26px;
}
.partner__list .partner__item {
  padding-left: 38px;
  position: relative;
}
.partner__list .partner__item::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.partner__list .partner__item.palette::before {
  background-image: url(.././img/section-partner/icon/palette.svg);
}
.partner__list .partner__item.stars::before {
  background-image: url(.././img/section-partner/icon/stars.svg);
}
.partner__list .partner__item.motion::before {
  background-image: url(.././img/section-partner/icon/motion.svg);
}

.ofer {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #000;
  color: #fff;
}

.ofer__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  max-width: 944px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ofer__content {
  width: 50%;
  padding-left: 32px;
}

.ofer__title {
  margin-bottom: 25px;
}

.ofer__desc {
  margin-bottom: 70px;
}
.ofer__desc .subtitle {
  margin-bottom: 15px;
}

.ofer__item {
  padding-left: 42px;
  position: relative;
}
.ofer__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ofer__item.disk::before {
  background-image: url(.././img/section-ofer/icon/disk.svg);
}
.ofer__item.fall::before {
  background-image: url(.././img/section-ofer/icon/fall.svg);
}
.ofer__item.directory::before {
  background-image: url(.././img/section-ofer/icon/directory.svg);
}
.ofer__item + .ofer__item {
  margin-top: 21px;
}

.ofer__platform .subtitle {
  margin-bottom: 25px;
}

.ofer__platform-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
  row-gap: 50px;
}

.platform-link img {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.platform-link:hover img {
  opacity: 0.5;
}

.footer {
  color: #777777;
  text-align: center;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
}

.row-logo, .footer__liks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.footer__liks a {
  color: #000;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.footer__liks a:hover {
  color: #52BEDC;
}

.footer__copyright {
  padding: 13px 0;
  background-color: #000;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */