.partner {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $accent-color;
}

.partner__wrapper {
    display: flex;
    column-gap: 32px;
}

.partner__img {
    .partner__img-wrapper {
        width: 624px;
        height: 430px;
        margin-bottom: 26px;
    }
    
    .partner__img-icons-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}



.partner__desc {

}

.partner__title {
    margin-bottom: 25px;
}

.partner__text {
    max-width: 624px;
    margin-bottom: 31px;

    p+p {
        margin-top: 15px;
    }
}

.partner__list {
    line-height: 1.16;
    margin-bottom: 45px;

    .partner__item+.partner__item {
        margin-top: 26px;
    }

    .partner__item {
        padding-left: 38px;
        position: relative;
    }

    .partner__item::before {
        content: '';
        // display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .partner__item.palette::before{
        background-image: url(.././img/section-partner/icon/palette.svg);
    }

    .partner__item.stars::before{
        background-image: url(.././img/section-partner/icon/stars.svg);
    }

    .partner__item.motion::before{
        background-image: url(.././img/section-partner/icon/motion.svg);
    }
}


.button {
}